<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <h1>Harshitha Reddy Salguti</h1>
    <h2>N01537582</h2>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <p>harshithasalguti02@gmail.com</p>
  </footer>
</body>

</html>
