<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Harshitha Reddy Salguti</h1>
      <h2>N01537582</h2>
      <!-- Navigation Bar -->
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">Resume</a></li>
          <li><a href="/search/Manufacturer">Manufacturer</a></li>
          <li><a href="/search/invoiceNo">SearchByInvoice</a></li>
          <li><a href="/viewData">AllData</a></li>
          <li><a href="/modifiedViewData">AllData</a></li>
          
           
        </ul>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p>harshithasalguti02@gmail.com</p>
    </footer>
  </body>
</html>
