<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error: InvoiceNo not found</title>
   <style>
    /* Apply CSS styles to the matched car information */
    .container {
      text-align: center;
      background-color: #d8b5b5;
      padding: 20px;
    }
    .data-display {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
    </style>
</head>
<body>
  <div class="container">
    <h1>Error: InvoiceNo not found</h1>
  </div>
</body>
</html>
