<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matched Cars</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> --}}
  <style>
    /* Apply CSS styles to the matched car information */
    .container {
      text-align: center;
      background-color: #abcecf;
      padding: 20px;
    }
    .data-display {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Matched Cars</h1>
    <div class="data-display">
      {{#each matchedCars}}
        <div>
          <strong>Invoice No:</strong> {{this.InvoiceNo}}<br>
          <strong>Manufacturer:</strong> {{this.Manufacturer}}<br>
          <strong>Vehicle Type:</strong> {{this.Vehicle_type}}<br>
        </div>
      {{/each}}
    </div>
  </div>
</body>
</html>
