<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search by Manufacturer</title>
  {{!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"> --}}
</head>
<body>
  <div class="container">
    <h1>Search by Manufacturer</h1>
    <form method="POST" action="/search/Manufacturer">
      <input type="text" name="manufacturer" placeholder="Enter Manufacturer">
      <input type="submit" value="Search">
    </form>
  </div>
</body>
</html>
